html, body {
    background-color: black;
    margin: 0;
    padding: 0;
}

.menu {
    font-size: 200%;
    width:100%;
    margin: 0%;
    padding:30px;
    color: white;
    background-color: #721616;
    text-align: center;
    position: fixed;
    z-index: 10;
}

.mypic {
    position: relative;
    width: 40%;
    max-width: 400px;
    min-width: 300px;
    margin-top: 200px;
    margin-left: 68%;
    position: absolute;
}

.topic {
    position: relative;
    background-color: rgb(200, 74, 79);
    color: white;
    padding: 3px;
    top: 180px;
    margin-right: 35%;
    text-align: center;
    font-size: 170%;
    box-shadow: 4px 4px 8px 4px rgba(255, 255, 255, 0.696);
}

.topicone {
    position: relative;
    color: white;
    padding: 10px;
    top: 250px;
    margin-right: 35%;
    text-align: center;
}

.myvdo {
    position: relative;
    width: 35%;
    max-width: 900px;
    min-width: 200px;
    margin-top: 200px;
    margin-left: 230Px;
    position: absolute;
}

.non {
    position: relative;
    width: 30%;
    max-width: 900px;
    margin-top: 700px;
    margin-left: 10%;
    position: absolute;
}

.contenttwo{
    background-color: rgb(0, 0, 0);
    padding: 20%;
    color: white;
    margin-top: 420PX;
    margin-left: 25%;
    margin-right: 0;
    text-align: left;
    font-size: 170%;
}

.topictwo {
    position: relative;
    background-color: rgb(40, 47, 47);
    color: white;
    padding: 10px;
    top: 75px;
    margin-right: 5%;
    margin-left: 5%;
    text-align: center;
    font-size: 25px;
    box-shadow: 2px 2px 6px 2px rgba(255, 255, 255, 0.696);
}

.dream {
    position: relative;
    width: 25%;
    max-width: 900px;
    min-width: 200px;
    margin-top: 100px;
    margin-left: 40%;
    position: absolute;
}

.musicjpg {
    position: relative;
    width: 25%;
    max-width: 900px;
    min-width: 200px;
    margin-top: 100px;
    margin-left: 70%;
    position: absolute;
}

.musicjpgtwo {
position: relative;
    width: 25%;
    max-width: 900px;
    min-width: 200px;
    margin-top: 100px;
    margin-left: 5%;
    position: absolute;
}

.contentthree{
    background-color: rgb(0, 0, 0);
    padding: 5%;
    color: white;
    margin-top: 600PX;
    margin-left: 0%;
    margin-right: 40%;
    text-align: left;
    font-size: 150%;
}

.N {
    position: relative;
    width: 20%;
    max-width: 900px;
    min-width: 200px;
    top: 2800px;
    margin-left: 70%;
    position: absolute;
}